@model Project.Models.UserAccountModelcs

@{
    Layout = null;
    ViewData["Title"] = "LoginView";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>


        <form asp-action="LoginView">
            <section id="sectionid">

               <img id ="logo" src="@Url.Content("~/Images/AugCartLogo.png")" alt="AugCart Logo" /> <br />
                <div class="title">
                    
                    <h4>AugCart</h4>
                </div>
                    <div class="inner2">
                        
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                            <input asp-for="Email" placeholder="Username" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        
                           
                            <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        

                        
                          <input id="submitbtn" type="submit" value="Login" />
                        
                    </div>
               
            </section>
        </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
