
@{
    ViewData["Title"] = "ExitPage";
}
<div class="row">
    <div class="col-xs-12">
        <div id="exit" class="col-xs-6">
            <img id="logo1" src="@Url.Content("~/Images/LogoNoBg.png")" alt="AugCart Logo" /> <h2>Checkout Complete</h2>
            <p> Thank you for ordering at AugStore! Hope you have a wonderful day! </p>
            <p> How about shopping for some more stuff? Come back to the @Html.ActionLink("Store", "MainPageView", "Home"))</p>
        </div>
    </div>
    </div>
