@model Project.Models.ShoppingCartViewModel
@{
    ViewData["Title"] = "CartView";
}
<br />
<h3>Shopping Cart</h3>

@if (ViewBag.cart != null && ViewBag.cart.Count != 0)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-2" style="margin-left: 15px;"></div>
            <div class="col-xs-9 ">
                <ul>
                    <li id="nameheading" class="col-xs-2"> </li>
                    <li id="priceheading" class="col-xs-2">Price</li>
                    <li id="quantityheading" class="col-xs-2">Quantity</li>
                </ul>
            </div>
        </div>
    </div>

    foreach (var item in ViewBag.cart)
    {

        <form asp-action="Remove" asp-controller="Cart" method="post">
            <div class="around1">
                <div class="row" id="row-@item.OrderItemId">
                    <div class="col-xs-12">
                        <div class="itemimage1 col-xs-2 ">
                            <img id="item1" src="@Url.Content(item.Image)" alt="Soccer Ball" />
                        </div>
                        <div class="itemdescription col-xs-9">
                            <br />
                            <ul>
                                <li id="iname1" class="col-xs-2 ">@item.Name</li>
                                <li id="price1" class="col-xs-2">$@item.Price.00</li>
                                <li id="quantity1" class="col-xs-2">@item.Quantity <input type="hidden" name="id" value="@item.OrderItemId" /></li>
                                <li><button type="submit" id="removebutton"> Remove from cart</button></li>
                            </ul>
                        </div>
                        <br />
                    </div>
                </div>

            </div>
        </form>
    }

    <div id="checkoutbox">
        <h4>Subtotal: <b id="cart-total">$@ViewBag.total.00</b></h4>
        <input id="checkoutbutton" type="button" value="Checkout" />
    </div>
}
else
{
    <p>Cart is empty</p>
}
<a asp-controller="Home" asp-action="MainPageView" id="continueshop">Continue Shopping</a>




